.loader {
  display: grid;
  place-items: center;
  margin: auto;

  & :local {

    svg {
      height: min-content;
      margin: auto;

      //min-width: 150px;
      //width: 100%;
      //height: 100%;
    }

    /* @keyframes spin {
       0% {
         stroke-dasharray: 1 98;
         stroke-dashoffset: -105;
       }
       50% {
         stroke-dasharray: 80 10;
         stroke-dashoffset: -160;
       }
       100% {
         stroke-dasharray: 1 98;
         stroke-dashoffset: -300;
       }
     }

     #spinner {
       //display: none;
       transform-origin: center;
       animation-name: spin;
       animation-duration: 1.2s;
       //animation-timing-function: cubic-bezier;
       animation-iteration-count: infinite;
     }*/
  }

}
