@use 'src/styles/index' as s;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  //align-items: center;
  justify-content: center;


  & :local {

    .wrapper {
      width: 100%;
      max-width: 30rem;
      margin-top: 10rem;


      .alert {
        //margin-top: 2rem;
      }


    }
  }
}
