@use '@/styles/index.scss' as s;

.container{
  width: 100%;

  & :local{

    .vid{
      height: 15vmax;

      //border: 1px solid #000;

      .content{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        border-radius: 1rem;

        // beautiful gradient for a card
        background: linear-gradient(130deg, rgb(189, 164, 164) 0%, rgb(47, 67, 133) 100%);

      }

    }
  }
}
