@use '@/styles/index.scss' as s;

.left {
  position: sticky;
  top: 20%;
  align-self: flex-start;
  padding: 2rem;
  flex: .27;
  border-radius: 1rem;
  //backdrop-filter: blur(4px);


  header{
    width: calc(100% + 4rem);
    //border-bottom: thin solid gray;
    //border: 1px solid red;

    p{
      //font-size: 1.5rem;
      font-weight: 400 !important;
      //color: gray;
    }
  }

  .filters{
    margin-top: 2rem;

    & > :not(:first-child) {
      margin-top: 1rem;
    }
  }
}

