@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2.5rem;

  & :local {

    .step_title {
      font-size: 2rem;
      font-weight: 300;
    }

    .qualifications {
      border: 1px solid #e3e3e3;
      border-radius: 1rem;
      padding: 1.5rem 2rem;

      .q_item {
        margin: 0 2rem 0 1rem;
        font-weight: 300;
        // break into new line on overflow
        word-break: break-all;

      }

      // select material ui Textfield component
      & :global {
        .MuiTextField-root {
          margin-top: 2rem;
        }
      }

    }

    .additional_lang {
      border: 1px solid #e3e3e3;
      flex: 1;
      border-radius: 1rem;
      padding: 1.5rem 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: .5rem;

    }

    .wrapper {

    }
  }
}
