@use '@/styles/index.scss' as s;

.container{
  width: 100%;
  padding: 10vmax 0;
  background: #f7f9fb;



  & :local{

    .wrapper{
      max-width: 80rem;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;

      @include s.media-breakpoint-up(md){
        flex-flow: row;
      }


      .title{
        //font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0;
        text-decoration: underline;
      }

      form{
        display: flex;
        gap: 2rem;
        align-items: center;

        & > :first-child{
          max-width: 20rem;
          width: 100%;
          scale: 1.05;
        }
      }
    }
  }
}
