@use '@/styles/index' as s;

.container {
  border: 1px solid #dedede;
  flex: 1;
  //width: 18rem;




  & :local {

    .card{

    }

    .content {
      display: flex;
      //align-items: center;
      flex-flow: column;
      //gap: .5rem;

      //padding-top: 0;

      border-top: thin solid #dedede;

      button{
        margin-top: 1.5rem;
      }

    }
  }
}
