@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  margin-top: 2rem;

  & :local {

    .wrapper {
      display: flex;
      flex-flow: column;
      gap: 1.5rem;
      //max-width: 40rem;
      margin: 0 auto;

      & > * {
        width: 100%;
      }

      fieldset.wrap {
        padding: 3rem;
        border-radius: 1rem;
        background-color: rgba(139, 140, 248, 0.08);
        border: 1px solid rgba(139, 140, 248, 0.28);
        margin-top: .5rem;
        display: flex;
        flex-flow: column;
        gap: .8rem;
      }

      legend {
        padding: 0 .5rem;
        //margin-right: 2rem;
      }

      .file_pond_wrap {
        border-radius: .5rem;
        border: 1px dashed #cbcbcb;
        overflow: hidden;


        & :global {
          .filepond--drop-label {
            //background-color: #EFF7FF;
          }

          .filepond--panel-root {
            //background-color: #e2f1ff;
          }
        }

      }

      .experience {
        width: 100%;

        .guide {
          width: 100%;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 1rem;

          p{
            font-size: 1.1rem;
            font-weight: 300;
          }
        }

        .add_btn {
          margin-top: 2rem;
          align-self: flex-start;
        }
      }

      // select material ui dialog component
      & :global {
        .MuiDialog-paper {
          width: 100%;
          max-width: 40rem;
          display: none;
        }
      }
    }
  }
}

.ex_dialog {

  & :global {
    .MuiDialog-paper {
      max-width: 40rem;
      width: 100%;
      padding: 2rem;
    }
  }

  .title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .ex_form {
    //display: none;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }
}

