@use '@/styles/index' as s;

.container {
  width: 100%;

  & :global {
    .MuiCardHeader-root {
      border-bottom: solid 1px #e1e1e1;
    }

    .MuiLinearProgress-root {
      height: 1rem;
      border-radius: 500px;
    }
  }

  & :local {

    .content{
        display: flex;
        flex-flow: column;
        gap: 1.2rem;

      .text{
        color: #8f8f8f;
        font-weight: 300;
      }
    }
    .steps {
      display: flex;
      flex-flow: column;
      gap: .5rem;

      & > * {
        span{
          //border: 1px solid #000;
          width: 100%;
        }
      }
    }


  }
}
