@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  border: 1px solid #dedede;


  & :local {

    .card{

    }

    .content {
      display: flex;
      flex-flow: column;
      gap: 2rem;

    }
  }
}
