@use '@/styles/index.scss' as s;

.container {
  position: relative;
  width: 100%;
  padding: 7vmax 2rem;
  min-height: 100vh;


  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .decor {
      position: absolute;
      top: 40vh;
      z-index: -1;
    }

    .wrapper {
      display: flex;
      flex-flow: column;
      max-width: 80rem;
      margin: 0 auto;
      z-index: 1;

      @include s.media-breakpoint-up(lg) {
        //max-width: 80%;
      }

      @include s.media-breakpoint-up(xxl) {
        max-width: 1300px;
      }


      header {
        max-width: 100%;

        .divider {
          margin-top: 1rem;
          width: calc(1500px + (100vw - 1500px));
          transform: translateX(calc((100vw - 1500px) / 2 * -1));
          //style={{ width: '100%', borderColor: 'lightgray' }}
          border-color: lightgray;
        }

        .title {
          color: #414141;
          font-family: 'SofiaPro', sans-serif !important;
          font-weight: 800 !important;
          letter-spacing: 0;
          align-self: flex-start;
        }
      }
    }

    .content {
      display: flex;
      gap: 2rem;
      margin-top: 5rem;
    }


    .right {
      $border-clr: #d7d7d7;
      display: flex;
      flex-flow: column;
      gap: 2rem;

      flex: .75;

      .search {
        display: flex;
        //border: 1px solid #000;

        // select material ui TextField
        & :global {
          .MuiTextField-root {
            // select the border element
            .MuiOutlinedInput-root {
              border-radius: .5rem 0 0 .5rem;
              border-right: none;
            }
          }
        }

        button {
          border-radius: 0 .5rem .5rem 0;
          height: 100%;
        }

        //gap: 1rem;
      }

      .search_tags {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        align-items: center;
        padding: 0 1rem;
      }

      .list {
        border: 1px solid $border-clr;
        border-radius: 1rem;

        & > :not(:first-child) {
          //margin-top: 4rem;
          border-top: 1px solid $border-clr;
        }


        .job_card {
          padding: 3rem;
          text-align: left;
          display: flex;
          flex-flow: column;
          gap: 1rem;
          cursor: pointer;
          transition: background-color .2s ease-in-out;


          // hover
          &:hover {
            //background-color: rgba(139, 140, 248, 0.08);
            background-color: lighten(s.$clrs-accent, 22.08);
            transition: background-color .2s ease-in-out;
          }


          .title_div {
            display: flex;

            gap: 3rem;
            align-items: flex-start;
            justify-content: space-between;

            .bookmark {
              margin-top: -.6rem;
            }
          }

          .title {
            //font-size: 1.2rem;
            //font-weight: 600 !important;
          }

          .desc {
            font-weight: 300;
          }

          .detail {
            color: gray;
            font-weight: 300;
            letter-spacing: 0.04vmax;
            font-size: .85rem;
          }

          .tags {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }

      }

    }
  }
}
