@use '@/styles/index' as s;

.container{
  width: 100%;
  margin-top: 2vmax;
  padding-bottom: 10vmax;
  min-height: 100dvh;

  & :local{

    .wrapper{

      @include s.media-breakpoint-up(md){
        max-width: 85rem;
        margin: 0 auto;
        //border: 1px solid #000;
      }

      .greeting{
        position: relative;
        color: gray;
        overflow: hidden;


        // line using sudo class that span the width
        &:after {
          position: absolute;

          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          background-color: #cccccc;
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }

     .content{
       display: grid;
       flex-wrap: wrap;
       grid-template-columns: 1fr 1fr .7fr;
       gap: 2rem;
       margin-top: 1rem;

       .marketplace{
         grid-area: 1/1/1/2;

       }

       .faq{
         grid-area: 2/2/3/3;
         //margin-top: -5rem;
       }

       .profile{
         grid-area: 2/3/3/4;
         //margin-top: -5rem;
       }
     }
    }
  }
}
