@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  min-height: 100vh;
  margin-top: 2rem;

  & :local {

    .wrapper {
      max-width: 1200px;
      margin: 0 auto;

      //border: 1px solid #000;

      .mp_header {
        display: flex;
        align-items: flex-end;
        gap: 2rem;

        & > :first-child {
          max-width: 30rem;
        }

        .selected{
          // show elipsis on overflow
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1rem;
        }
      }

      .content{
        margin-top: 3rem;
        padding: 1.5rem 3rem;
        overflow: hidden;

        border: 1px solid #e7e7e7;
        border-radius: 1rem;
      }

      .tab_list {
        position: relative;
        display: flex;
        gap: .5rem;
        align-items: center;
        padding-bottom: 1.5rem;


        border-bottom: 1px solid #d7d7d7;
        // change the borderbottom to sudo element
        border-bottom: none;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 200%;
          transform: translateX(-40%);
          height: 1px;
          background-color: #e7e7e7;
        }


        button.tab {
          position: relative;
          margin: 0;
          text-align: left;
          border-radius: 1rem;
          border-color: #dcdcdc;
          //padding: 0;

          .active_indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //transition: opacity .3s ease-in-out;
            z-index: -1;
            background-color: s.$clrs-accent;
            border-radius: 1rem;
          }

          @include s.media-breakpoint-up(xl) {
            //padding-left: 2rem;
            justify-content: flex-start;
          }

          &.active {
            color: white;
            border-color: transparent;
          }


        }

        .tab_wrap {
          position: relative;
        }

      }

    }
  }
}
